/* {background-color: rgb(24, 133, 184);} /*exemplo de seletor global*/
/*#container {
    width: 200px;
}
.m-40 {
margin: 40px;
}*/

h1 /*podendo se aplicado assim para multiplos h1,h2*/  {
   
    color: red;/*cor*/
    font-size: 100px; /*tamanho da fonte*/
    margin: 20px;/*margem*/ 
    padding: 60px; /*espaço dentro da caixa*/
    font-family: 'DynaPuff', cursive; /*aqui estou adicionando a fonte que veio do fonts.google.com*/
    width: 100%; /*largura*/
    height: 100%;/*altura*/
    border: 4px solid green;/*bordas*/
    outline: 4px solid yellow;/*por fora da caixa*/
    background-color: rgb(143, 43, 43);/*cor de fundo*/
    background-size: contain ;/*com essa posso alterar tamanho da imagem ou como no exemplo usar a propriedade contain para limitar a imagem dentro da caixa*/
    background-position: center; /*aqui marca a posição*/
    background-repeat: no-repeat;/*aqui é, sobre a imagem se repetir ou não*/
    background-image:url(https://source.unsplash.com/random);/*aqui tag para imagem*/
    background-attachment: fixed; /*aqui é para travar a imagem de fundo ou posso usar a property 'scroll' para o fundo seguir a rolagem*/
}
h2 {
    background: linear-gradient(red, blue);/* gradient é o famoso degrade*/

}
h3 {
    background: radial-gradient(red, yellow, blue);/* gradient é o famoso degrade*/

}
/*h1 aqui é o Seletor...
declaração é oque fica dentro do {}  
as propriedades são color bababa...
e o valor que é oque vai na propriedade*/
/*
#seletores
Conecta um elemento HTML com CSS
## Tipos
* Global selector '*'
* Element/Type Selector 'h1,h2,p,div'
* ID Selector '#box,container'
* Classe Selector '.red, .m-4
*Attribute Selector, Pseudo-class, Pseudo-element, e outros
*/
/*Tamanho (largura x altura) → width | height
Conteúdo → content
Bordas → border
Preenchimento interno → padding
Espaços fora da caixa → margin*/ 
