

h1 {color: #1100ad;  
    border: 20px #000000;
    border-style: double;
    
}
h2 {
    
    color: #b60d0d;
    border: #000000;
    border-style: double;
} 
h3 {
    
    color: #b60d0d;
    border: #000000;
    border-style: double;
} 
h4 {
    
    color: #b60d1b;
    border: #000000;
    border-style: double;
}
