.box  {
    height: 250px;
    width: 250px;
    background-image:url(https://source.unsplash.com/random);
    background-repeat: content;
}
.box::after {
	content: "Isso é uma string";
    color: #ff0000;
    font-family: 'DynaPuff', cursive;
}
body {
    background-color: #6a99c0;
}
h1 {color: #1100ad;  
    border: 20px #000000;
    border-style: double;
    font-family: 'DynaPuff', cursive;
}
h2 {
    
    color: #b60d0d;
    border: #000000;
    border-style: double;
} 
h3 {
    
    color: #b60d0d;
    border: #000000;
    border-style: double;
} 
h4 {
    
    color: #b60d1b;
    border: #000000;
    border-style: double;
}
