
h1 {color: #301549;  
    border: #301549;
    border-style: double;
    
}
h2 {
    
    color: #0d56b6;
    border: #b00db6;
    border-style: double;
} 
h3 {
    
    color: #0d56b6;
    border: #b00db6;
    border-style: double;
} 
h4 {
    
    color: #0d56b6;
    border: #b00db6;
    border-style: double;
}