.box {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
}
.box1 {
    background-color: red;
    position: absolute; /* essa tag é como se a "caixa" subisse para uma dimensao acima das outras */
    left: 250px; /*distanciar da margem para direita*/
    top: 150px;/*distanciar da margem para baixo*/
}
.box2 {
    background-color: rgb(255, 0, 106);
    position: relative;/* essa tag é para poder atribuir mais 5 propriedades top, hight, bottom, left, z-index*/
    left: 400px;
    top: 150px;
}
.box3 {
    background-color: rgb(38, 0, 255);
    position: fixed;/*esse atributo é para fixar na rolagem da pagina*/
    top: 0px;       
   
}